//background-colors
$dark-bg-color: #313131;
$light-bg-color: #f4f6f0;
$light-grey-bg-color: #efeeee;
$dark-grey-bg-color: #d9d9d9;

//font-colors
$dark-text-color: #313131;
$light-text-color: #f4f6f0;
$light-grey-text-color: #868585;
$navy-blue-text-color: #1c5ab8;
